<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <!-- Header -->
    <header class="site-header">
      <div class="container-lg">
        <h1>
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <!-- Main content -->
    <main class="container-lg">
      {{ content }}
    </main>

    <!-- Footer -->
    <footer class="site-footer">
      <div class="container-lg">
        <div>
          © {{ site.time | date: "%Y" }} {{ site.name }}
        </div>
      </div>
    </footer>

  </body>
</html>