<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>

  <body>

    <header class="site-header">
      <div class="container-lg">
        <h1>
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        <p>{{ site.description }}</p>
      </div>
    </header>

    <main class="container-lg" style="margin-top: 30px;">
      {{ content }}
    </main>

    <footer class="site-footer">
      <div class="container-lg">
        <p>{{ site.name }} · {{ site.url }}</p>
      </div>
    </footer>

  </body>
</html>